* 
::before,
::after{/*incluíran cualquier borde o relleno que se añadan, y la caja de contenido se encogerá para absorber ese ancho extra.*/
    box-sizing: border-box;
}

*{ /* reseteo CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
