.hero{
    margin-top: 48px;
    width: 100%;
    height: 300px;
    
    &__divImg{
        display: flex;
        flex-direction: column;
        position: relative;

        img{
            position:absolute;
            z-index:  -1;
            height: 304px;
            width: auto;
            max-width: 100%;
            left: 0;
            object-position:cover;
            overflow-x: hidden;
            object-fit: cover;
            opacity: 0.6;
        }

        h1{
            font-family: 'Source Sans Pro';
            font-weight: 700;
            width: 355px;
            line-height: 40px;
            letter-spacing: -0.02em;
            color: rgb(37, 37, 37);
        }

        h2{
            font-family: 'Source Sans Pro';
            font-weight: 700;
            margin-top: 2rem;
            line-height: 32px;
            letter-spacing: -0.02em;
            color: rgb(37, 37, 37);
            width: 355px;
        }

        h3{
            font-family: 'Source Code Pro';
            font-weight: 400;
            font-size:small;
            color: black;
            width:22.5rem;
            line-height: 1rem;
            padding-top: 1rem;
        }

        .spanPurple{
            color:var(--color-pink)
        }
    }
}
ol, ul {
     padding-left:0;
}

.swiper{
    height: 300px !important;
}
.divInfoHero{
    padding: 1rem;
}

.hero__divImgTwo{
    background-image: url(../../assets/img/photo2.jpg);
}
.hero__divImgThree{
    background-image: url(../../assets/img/photo3.png);
}
.hero__divImgFour{
    background-image: url(../../assets/img/photo4.png);
}
.hero__divImgFive{
    background-image: url(../../assets/img/photo5.png);
}

@media (min-width:550px) {
    .hero{
        height: 360px;
        &__divImg{
            img{
                width: 100%;
                height: 354px !important;
            }

            h3{

            }
        }


    }
    .swiper{
        height: 354px !important;
    }

} 

@media (min-width:768px) {
    
    .hero{
      

        &__divImg{

            h3{
                line-height: 18px;
            }
        }
    }
} 
@media (min-width:1024px) {
    .hero{
        max-width: 1050px;
        margin: 0 auto;
        margin-top:50px;
    
        &__divImg{

    
            h1{
                width: 400px;
                font-weight: 700;
                font-size: 40px;
                line-height: 40px;
                letter-spacing: -0.02em;
            }

            h3{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                width: 500px;
            }
        }
    }
} 